<div class="container">
	<div class="row">
		<div class="col-4">
			<nav class="menu">
                <p class="menu-label">
                    All Conversations
                </p>
                <ul class="list-group">
                    <% @conversations.each do |c| %>
                    	<% @client = c.sender_id == current_user.id ? c.receiver : c.sender %>
                    	<%= link_to conversation_detail_path(@client.id) do %>
	                    	<li class="list-group-item">
		                        
		                            <div class="message-body <%= 'currentchat' if c.id == @conversation.id %>">
		                                <div class="media">
		                                    <div class="media-left">
		                                        <figure class="">
		                                            <%= image_tag( avatar_url(@client), size: "32x32", class: "rounded-circle") %>
		                                        </figure>
		                                    </div>                                
		                                    <div class="media-content">
		                                        <div class="title is-6"><%= @client.full_name %></div>
		                                        <div class="subtitle is-7">
		                                            <%= (c.last_message.user_id == current_user.id ? "You: #{c.last_message.content}" : c.last_message.content).truncate(20) %>
		                                        </div>
		                                        <div class="media-right">
			                                        <%= c.last_message.updated_at.strftime("%b %Y") %>
			                                    </div>
		                                    </div>		                                    
		                                </div>
		                            </div>
		                                            
		                    </li>
	                    <% end %>   
                    <% end %>                                     
                </ul>
            </nav>
		</div>
		<div class="col-8">
			<div class="media">
				<figure>
					<%= image_tag avatar_url(@user), class: "rounded-circle", size: "64x64" %>
				</figure>
				<div>
					<div><%= @user.full_name %></div>
					<div><%= @user.from %></div>
				</div>
			</div>
			<div class="row">
				<% @messages.each do |m| %>
					<% if m.user.id == current_user.id %>
						<div class="col-7 offset-5">
							<div><%= m.content %></div>
							<span><%= time_ago_in_words(m.created_at) %></span>
						</div>
					<% else %>
						<div class="col-7">
							<div class="media">
								<figure>
									<%= image_tag avatar_url(m.user), class: "rounded-circle", size: "32x32" %>
								</figure>
								<div><%= m.content %></div>
								<span><%= time_ago_in_words(m.created_at) %></span>
							</div>
						</div>
					<% end %>
				<% end %>
			</div>
			<div>
				<%= form_with model: Message.new do |f| %>
					<%= f.hidden_field :receiver_id, value: @user.id %>
					<div class="control">
						<%= f.text_field :content, class: "input", placeholder: "Type a message..." %>
					</div>
					<div class="control">
						<%= f.submit "Send", class: "btn btn-primary" %>
					</div>
				<% end %>
			</div>
		</div>
	</div>
</div>