<section class="section">
	<div class="container">
		<div class="row">
			<div class="col-4">
				<figure>
					<%= image_tag avatar_url(@user), class: "rounded-circle" %>
				</figure>
				<p><%= @user.full_name %></p>
				<% if current_user.id != @user.id %>
					<a class="btn btn-success" data-toggle="modal" data-target="#messagemodal">Contact me</a>
				<% end %>
				
				<div>
					<%= @user.created_at.strftime('%b %Y') %>
				</div>
				<div>
					User from: <%= @user.from %>
				</div>
				
				<div>
					User Status: 
					<% if @user.status %>
						Online
					<% else %>
						Offline	
					<% end %>
				</div>				
				<div>
					
					<div>
						About: <%= @user.about %>
					</div>
					
					<div>
						<p>Linked Account</p>
						<% if @user.uid %>
							<span class="text-success">Facebook verified</span>
						<% else %>
							<span class="text-danger">
								Facebook unverified
							</span>
						<% end %>
					</div>
				</div>
			</div>
			<div class="col-8">
				<div>
					<% @user.gigs.each do |gig| %>
						<div>
							<%= link_to edit_gig_path(gig) do %>
							<figure class="image">
								<%= image_tag gig_cover(gig), size: "150x150" %>
							</figure>
							<% end %>
							<p><%= link_to gig.title, gig_path(gig) %></p>
							<p><span><i class="fa fa-star"></i></span><%= gig.average_rating %>(<%= gig.reviews.count %>)</p>
							<% basic_price = gig.pricings.find{ |p| p.pricing_type == "basic" } %>
							<% if !basic_price.nil? %>
								<strong>$<%= basic_price.price %></strong>
							<% else %>
								<p>No price yet</p>
							<% end %>
						</div>
					<% end %>
				</div>
				<div>
					<p>Latest Reviews</p>
					<div>
						<% @reviews.each do |r| %>
							<figure>
								<%= image_tag avatar_url(r.buyer) %>
							</figure>
							<p><%= r.buyer.full_name %></p>
							<div>
								<%= r.review %>
							</div>
							<p><%= time_ago_in_words(r.created_at) %></p>
							<span><i class="fa fa-star"></i><%= r.stars %></span>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Modal -->
<div class="modal fade" id="messagemodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Send a Message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-3">
        		<figure>
        			<%= image_tag avatar_url(@user), class: 'rounded-circle' %>
        		</figure>
        	</div>
        	<div class="col-9">
        		<%= form_with model: Message.new do |f| %>
        			<%= f.hidden_field :receiver_id, value: @user.id %>
        			<div class="field">
        				<%= f.text_area :content, class: "textarea form-control" %>
        			</div>
        			<%= f.submit "Send", class: "btn btn-primary" %>
        		<% end %>
        	</div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


<div class="modal" id="contact-form">
    <div class="modal-fade"></div>
    <div class="modal-card">
        <header class="modal-card-head">
            <p class="modal-card-title">Send a Message</p>
            <button class="delete toggle-contact" aria-label="close"></button>
        </header>
        <section class="modal-card-body">
            <div class="columns">
                <div class="column is-one-third">
                    <div class="card" st>
                        <div class="card-content is-horizontal-center is-flex">
                            <figure class="image is-128x128">
                                    <img src="https://i.pravatar.cc/200" class = "is-rounded">
                            </figure>
                        </div>
                        <div class="card-content">
                            <hr>
                            <strong>Please include:</strong>
                            <ul class="is-size-7" style="list-style:initial">
                                <li>Project description</li>
                                <li>Specific instructions</li>
                                <li>Relevant files</li>
                                <li>Your budget</li>
                            </ul>
                        </div>
                     </div>
                </div>   
                <div class="column">
                    <div class="card-content">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea"></textarea>
                            </div>
                        </div>
                        <button class="button is-danger is-pulled-right">Send</button>                            
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<script>
    var toggle_modals = $('.toggle-contact');
    if (toggle_modals) {
        toggle_modals.on('click', function(event) {
            event.stopPropagation();
            event.preventDefault();
            var form = document.getElementById('contact-form');
            form.classList.toggle('d-none');
        });
    }
</script>