<div class="container">
	<div class="row">
		<div class="col-12">
			<p class="title">
				Manage Requests
				<%= link_to "Post new requests", new_request_path, class: "btn btn-primary" %>
			</p>
			<div>
				<%= form_tag '', method: :get do %>
					<div class="field">
						<div class="select">
							<%= select_tag 'category', content_tag(:option, 'All Categories', value: "") + options_for_select(@categories.map { |c| [c.name, c.id] }, 
								selected: @category_id),
								onchange: "this.form.submit();" %>
						</div>
					</div>
				<% end %>
			</div>
			<div>
				<table>
					<thead>
						<tr>
							<td>Date</td>
							<td>Buyer</td>
							<td>Request</td>
							<td>Offers</td>
							<td>Duration</td>
							<td>Budget</td>
						</tr>
					</thead>
					<tbody>
						<% if @requests.blank? %>
							<tr>
								<td>Nothing to show here</td>
							</tr>
						<% end %>
						<% @requests.each do |r| %>
							<tr>
								<td><%= r.created_at.strftime('%d, %b %Y') %></td>
								<td>
									<figure>
										<%= image_tag avatar_url(r.user) %>
									</figure>
								</td>
								<td>
									<%= link_to request_path(r), class: "" do %>
										<label class="" data-toggle="tooltip" title="<%= r.description %>">
											<%= r.title.truncate(25, separator: ' ') %>
										</label>
									<% end %>	
								</td>
								<td>
									<%= r.offers.count %>
								</td>
								<td><%= pluralize(r.delivery, 'day') %></td>
								<td>$<%= r.budget %></td>
							</tr>
						<% end %>						
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>