<!DOCTYPE html>
<html>
  <head>
    <title>Guardian</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/22c9f5339d.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <%= render 'shared/header'%>
    <%= render 'shared/notification'%>
    <%= yield %>
  </body>
</html>
